{% extends "base.html" %}

{% load static %}

{% block extra_headers %}
    <link href="{% static 'tasks/styles.css' %}" rel=stylesheet>
{% endblock extra_headers %}

{% block content %}
    <h2>Your Tasks</h2>
    {% for task in task_list %}
        <p>
            <span>
                {% if task.status == task.CREATE %}
                    <a href="{% url 'task-translations' task.id %}">{{ task.title }}</a>
                {% else %}
                    {{ task.title }}
                {% endif %}
                <span class="{{ task.status|lower }}">{{ task.get_status_display }}</span>
            </span>
            <span class="download">
                <a href="{% url 'task-download-source' task.id %}"><button type="button">Source</button></a>
                {% if task.status == task.DONE %}
                    <a href="{% url 'task-download-result' task.id %}"><button type="button">Result</button></a>
                    <a href="{% url 'task-download-log' task.id %}"><button type="button">Log</button></a>
                {% else %}
                    <button type="button" disabled>Result</button>
                    <button type="button" disabled>Log</button>
                {% endif %}
            </span>
        </p>
        <hr>
    {% endfor %}
    <h2>Create New Task</h2>
    <a href="{% url 'task-create-zip' %}"><button type="button">From Zip Archive</button></a>
    <a href="{% url 'task-create-files' %}"><button type="button">From File List</button></a>
    <a href="{% url 'logout' %}" id="logout"><button type="button">Logout</button></a>
{% endblock content %}