{% extends "base.html" %}

{% load static %}

{% block extra_headers %}
    <link href="{% static 'tasks/styles.css' %}" rel=stylesheet>
{% endblock extra_headers %}

{% block content %}
    <h2>Create new task</h2>
    <form method="POST" enctype="multipart/form-data" id="post-form">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <th></th>
                <td><input type="submit" value="Create" id="submit-button"></td>
            </tr>
        </table>
    </form>
    <script src="{% static 'loading_bouncer.js' %}"></script>
{% endblock content %}