{% extends "base.html" %}

{% load static %}

{% block extra_headers %}
    <link href="{% static 'tasks/styles.css' %}" rel=stylesheet>
{% endblock extra_headers %}

{% block content %}
    <h2>Your tasks</h2>
    {% for task in task_list %}
        <p>
            <span>
                {{ task.title }}
                <a href="{% url 'task-edit' task.id%}"><button type="button">Edit</button></a>
            </span>
            <span class="download">
                <a href="{% url 'task-download-source' task.id %}"><button type="button">Source</button></a>
                {% if task.result %}
                    <a href="{% url 'task-download-result' task.id %}"><button type="button">Result</button></a>
                {% else %}
                    <button type="button" disabled>Result</button>
                {% endif %}
            </span>
        </p>
        <hr>
    {% endfor %}
    <h2>Create new task</h2>
    {% include "tasks/task_inline_form.html" %}
{% endblock content %}