/*affects the list view*/
p {
    margin: 0;
    overflow: hidden;
}

span {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

span.download {
    text-align: right;
}

/*affects the create form*/
form table {
    border-spacing: 5px 10px;
}
