/*affects the list view*/
p {
    margin: 0;
    overflow: hidden;
}

span {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

span.download {
    text-align: right;
}

span.crat {
    color: orange;
    font-size: small;
}

span.wait {
    color: gray;
    font-size: small;
}

span.proc {
    color: blue;
    font-size: small;
}

span.done {
    color: green;
    font-size: small;
}

/*affects the create form*/
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#logout {
    float: right;
}